<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
<main class="sub_section">
        <div class="sec_tit">
            <span>궁금한 내용을 남겨주세요.</span>
            <h2>Q&amp;A</h2>
        </div>
        <section id="board_regist">
            <form th:action="@{/board/insertBoard}" method="post">
                <div class="board_write">
                    <div class="row">
                        <p class="board_tit"><label for="title">제목</label></p>
                        <p>
                            <input type="text" name="title" id="title" placeholder="제목">
                        </p>
                    </div>
                    <div class="row">
                        <p class="board_writer"><label for="writer">작성자</label></p>
                        <p>
                            <input type="text" name="writer" id="writer">
                        </p>
                    </div>
                    <div class="row board_txt">
                        <p class="board_tit"><label for="content">내용</label></p>
                        <p>
                            <textarea name="content" id="content" class="txt_area" placeholder="내용을 입력하세요."></textarea>
                        </p>
                    </div>
                    <div class="row">
                        <p class="board_tit"><label for="file">첨부파일</label></p>
                        <p>
                            <input type="file" name="file" id="file">
                        </p>
                    </div>
                </div>
                <div class="submit_wrap">
                    <!--                        <input type="hidden" name="page" value="${page}">-->
                    <button type="submit" class="btn_default">게시글 등록</button>
                </div>
                <ul class="btn_list">
                	<li class="btn_3"><a th:href="@{/board/getBoardList}">글 목록</a></li>
                </ul>
            </form>
        </section>
    </main>
</div>
</html>