<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <main>
        <div class="sec_tit">
            <h2>LOGIN</h2>
        </div>
        <section id="login">
            <form action="/members/login" method="post" id="login_con">
                <div id="login1" class="login_box">
                    <p>
                        <label th:for="email">회원 로그인</label>
                    </p>
                    <p class="u_txt">
                        <input type="email" name="email" placeholder="email">
                    </p>
                    <p class="u_txt">
                        <label th:for="password"></label>
                        <input type="password" name="password" id="password" placeholder="password">
                    </p>
                    <p id="chk_wrap1">
                        <strong th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></strong>
                        <button id="s_btn1" class="btn_2">로그인</button>
                    </p>
                </div>
                <div class="account_box">
                    <p class="find_wrap">
                        <strong>FIND ID or PW</strong>
                        <span>Forgotton your account?</span>
                        <button type="button" class="search1 btn_3">아이디/비밀번호 찾기</button>
                    </p>
                    <p class="join_wrap">
                        <strong>NEW Account</strong>
                        <span>Create a new account</span>
                        <button type="button" class="join1 btn_3" onClick="location.href='/members/new'">회원가입</button>
                    </p>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </section>
    </main>

</div>

</html>