<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" id="footer">
  <div class="footer_wrap">
    <h1><a href="#">logo</a></h1>
    <ul class="info">
      <li>회사명 : Personal Project / 대표자 : 김진경</li>
      <li>
        <address>주소 : 경기도 안산시 한대앞역 이젠아카데미 </address> / 대표전화 : 111-2222
      </li>
      <li>이메일 : <a href="#">iamlydia@pro.net</a> / FAX :</li>
      <li>사업자등록정보 : 111-22-333 <a href="#">[사업자정보확인]</a> / 통신판메신고번호 : 제 2022-경기안양-0000 호</li>
      <li>Copyright ⓒ iamlydiaaaa. All Rights Reserved.</li>
    </ul>
    <ul class="link">
      <li><a href="#">[회사소개]</a></li>
      <li><a href="#">[이용약관]</a></li>
      <li><a href="#">[개인정보처리방침]</a></li>
      <li><a href="#">[쇼핑몰 이용안내]</a></li>
    </ul>
  </div>
</footer>
</html>