<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            $("input[name=cartChkBox]").change( function(){
                getOrderTotalPrice();
            });
        });

        function getOrderTotalPrice(){
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var price = $("#price_" + cartItemId).attr("data-price");
                var count = $("#count_" + cartItemId).val();
                orderTotalPrice += price*count;
            });

            $("#orderTotalPrice").html(orderTotalPrice);
        }

        function changeCount(obj){
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count*price;
            $("#totalPrice_" + cartItemId).html(totalPrice+"원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, count);
        }

        function checkAll(){
            if($("#checkall").prop("checked")){
                $("input[name=cartChkBox]").prop("checked",true);
            }else{
                $("input[name=cartChkBox]").prop("checked",false);
            }
            getOrderTotalPrice();
        }

        function updateCartItemCount(cartItemId, count){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId+"?count=" + count;

            $.ajax({
                url      : url,
                type     : "PATCH",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    console.log("cartItem count update success");
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function deleteCartItem(obj){
            var cartItemId = obj.dataset.id;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/cart';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function orders(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart/orders";

            var dataList = new Array();
            var paramData = new Object();

            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var data = new Object();
                data["cartItemId"] = cartItemId;
                dataList.push(data);
            });

            paramData['cartOrderDtoList'] = dataList;

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/orderSuccess';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .table_default{
            border-top: 2px solid #333;
            font-size: 16px;
            text-align: center;
            color: #555;
            width: 100%;
            max-width: 1400px;
        }
        .table_default tr{
            border-bottom: 1px solid #eaeaea;
        }

        .table_default tr:hover{

        }
        .table_default .table_head{cursor: unset;}
        .table_default .table_head:hover{background-color: #fff;}
        .table_default td{
            height: 60px;
            vertical-align: middle;
            padding: 20px;
        }

        .cart_img{
            width: 100px;
        }

        .btn_cancel{
            background-color: transparent;
            border: none;
            width: 30px;
            height: 50px;
            font-size: 36px;
            color: #aaa;
        }
        .btn_cancel:hover{
            color: #b02a2a;
        }
        .btn_cancel>span{
            width: 100%; display: block;
        }
        .total_wrap{
            height: 90px;
            line-height: 30px;
            padding: 30px 0;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            margin: 50px auto;
            border-top: 3px solid #555;
        }
        .total_wrap span{
            color: #c9ab81;
        }


    </style>
</th:block>

<div layout:fragment="content">
    <main class="sub_section">
        <div class="sec_tit">
            <h2>장바구니</h2>
        </div>
        <section id="board_list">

        <table class="table_default">
            <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="30%"/>
                <col width="25%"/>
                <col width="15%"/>
                <col width="10%"/>
            </colgroup>
            <thead>
            <tr class="table_head">
                <td>
                    <input type="checkbox" id="checkall" onclick="checkAll()"> 선택
                </td>
                <td colspan="2">상품정보</td>
                <td>수량</td>
                <td>상품금액</td>
                <td>삭제</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td>
                    <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
                </td>
                <td>
                    <img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}" class="cart_img">
                </td>
                <td align="left">
                    <a th:text="${cartItem.itemNm}" ></a>
                </td>
                <td>
                    <p class="select_number_val">
                        <span th:id="'price_' + ${cartItem.cartItemId}"
                               th:data-price="${cartItem.price}"
                               th:text="${cartItem.price} + '원'" style="opacity: 0;">
                        </span>
                        <input type='button' onclick='countNum("minus")' value='-' />
                        <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                               th:value="${cartItem.count}" min="1"
                               onchange="changeCount(this)" class="count_value" >
                        <input type='button' onclick='countNum("plus")' value='+' />
                    </p>
                </td>
                <td>
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}"
                          name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'">
                    </span>
                </td>
                <td>
                    <button type="button" aria-label="Close" class="btn_cancel">
                        <span aria-hidden="true" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="total_wrap">
                총 주문 금액 : <span id="orderTotalPrice">0</span> 원
        </div>

        <div>
            <button type="button" class="btn_2" onclick="orders()">주문하기</button>
        </div>

    </section>
    </main>
</div>

</html>