@charset "utf-8";
main{

}

/* ===================== BoardList 시작 ===================== */
#board_list{
    max-width: 1400px;
}

/* ==== 총xx건 ==== */
.list_total{
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}
.list_total p{ display: inline-block;}
.list_total p:nth-child(1){float: left;}
.list_total p:nth-child(2){float: right;}
.list_total .btn_default{
    width: 120px; height: 30px;
}
.list_total strong{color: #c39a4c;}

/* ==== 테이블부분 시작 ==== */
.list_table{}

.list_table #tbBox{
    border-top: 2px solid #333;
    font-size: 16px;
    text-align: center;
    color: #555;
    width: 100%;
    max-width: 1400px;
}
#tbBox tr{
    border-bottom: 1px solid #eaeaea;
}
#tbBox td, #tbBox th{
    height: 90px;
    vertical-align: middle;
}

#tbBox tr:hover{
    background-color: rgba(227, 219, 202, 0.2);
}
#tbBox tr:nth-child(1):hover{
    background-color: #fff
}


#tbBox .board_none{
    background-color: #eaeaea;
    color: #555;
    cursor: default;
}
#tbBox .board_none:hover{
    background-color: #eaeaea;
}

/*---*/
#tbNum{}
#tbTit{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align: left; color: #333;
}
#tbTit a{
    width: 100%; display: block;
}
#tbName{
}
#tbDate{
}
#tbStatus{
}
#tbStatus span{
    background-color: #eaeaea;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 0.8em;
    color: #999;
}
#tbStatus .comment{
    background-color: #f2c26a;
    color: #fff;
}



/* ==== 테이블부분 끝 ==== */
/* ===================== BoardList 끝 ===================== */

/* ===================== BoardRegister 시작 ===================== */

#board_regist{
    margin-top: 100px;
    padding: 50px 100px; 
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.board_write{
    width: 100%;
    margin-bottom: 50px;
}
.row { height: 60px;}
.row + .row{margin-top: 30px;}
.board_write p{
    float: left;  
}
.board_write>div>p:nth-child(1){
    width: 150px;
    padding-top: 20px;
}

.board_write>div>p:nth-child(2){
    width: calc(100% - 150px);
}
.board_write>div>p:nth-child(2)>*{
     width: 100%;
}
.board_txt{ height: 250px;}

.board_write #content{ height: 250px;}
.board_write input, .board_write textarea{
    padding: 20px;
    box-sizing: border-box;
}

.submit_wrap{
    text-align: center;
}
.submit_wrap .btn_default{
    margin: 0 auto;
    display: inline-block;
}

/* ===================== BoardRegister 끝 ===================== */
