@charset "UTF-8";


#item_form_wrap {
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;

}

#item_form_wrap input, #item_form_wrap textarea, #item_form_wrap .custom_select {
    background-color: #fdfdfd;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

#item_form_wrap > li {
    width: 100%;
    height: 50px;
    position: relative;
}

#item_form_wrap > li + li {
    margin-top: 20px;
}

#item_form_wrap .custom_select option {
    width: 100%;
    height: 30px;
}

#item_form_wrap > li p {
    float: left;
}

#item_form_wrap .item_tit {
    width: 100px;
    line-height: 50px;
}

#item_form_wrap .item_txt {
    width: calc(100% - 100px);
}

#item_form_wrap .item_txt > * {
    width: 100%;
    height: 50px;
}

#item_form_wrap .custom_detail {
    height: 400px;
}

#item_form_wrap .custom_detail textarea {
    height: 400px;
    resize: vertical;
}

#item_form_wrap .custom_short {
    display: flex;
    justify-content: space-between;
}

#item_form_wrap .custom_short > div {
    position: relative;
}

#item_form_wrap .custom_short .item_txt {
    width: 110px;
}

#item_form_wrap .form_btn_wrap {
    margin: 50px auto 0;
}

#item_form_wrap .form_btn_wrap > p {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
#item_form_wrap .form_btn_wrap button{
    width: 100%;
}

/* 파일 선택 */
#item_form_wrap .custom_files{
    height: 250px;
}
#item_form_wrap .custom_files .item_tit{
    height: 250px;}
#item_form_wrap .custom_files .item_files{
    margin: 5px 0;
}

/*    에러 메세지    */
#item_form_wrap .fieldError {
    position: absolute;
    left: 0px;
    top: 35px;
    font-size: 12px;
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #dd5858;
    padding: 2px 5px;
    font-style: italic;
    opacity: 0.9;
}


/*------------------------------------------*/
/*-----상품 관리 itemMng.html----*/
#item_manage{}
#item_manage>form{}
.item_manage_table{}


.item_manage_table{
    border-top: 2px solid #333;
    font-size: 16px;
    text-align: center;
    color: #555;
    width: 100%;
    max-width: 1400px;
}
.item_manage_table tr{
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.item_manage_table tr:hover{
    background-color: rgba(227, 219, 202, 0.2);
}
.item_manage_table .table_head{cursor: unset;}
.item_manage_table .table_head:hover{background-color: #fff;}
.item_manage_table td{
    height: 60px;
    vertical-align: middle;
}


/*--검색부분--*/
.board_search_wrap{
    height: 40px;
    margin: 50px auto;
    width: 100%;
    min-width: 1000px;
}
.board_search_select{
    width: 360px; height: 100%;
    float: left;
}
.board_search_select>select{
    float: left;
    margin-right: 5px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #555;
    padding: 0 10px;
}

.search_area_wrap{
    width: calc(100% - 370px);
    float: left;
}
.search_area_wrap>*{float: left; height: 40px;}
.search_area_wrap .btn_2{
    width: 80px;
    margin-left: 10px;
}
.search_area_wrap input{
    width: calc(100% - 100px);
}
