<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .visual .visual_wrap{
            height: 700px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <main id="main">
        <!--   빅비주얼 시작   -->
        <section class="visual">
            <div id="carouselExampleIndicators" class="carousel slide visual_wrap" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{/img/img02.jpg}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/img/img04.jpg}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/img/img05.jpg}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span th class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!--   빅비주얼 끝   -->
        <section class="sec1">
            <div class="sec_tit">
                <span>가장 인기있는 상품을 소개합니다.</span>
                <h2>BEST SELLER</h2>
            </div>
            <div class="sec_wrap">
                <ul class="sec1_items_list">
                    <li>
                        <ul>
                            <li class="list_img_wrap">
                                <div class="list_img">
                                    <img th:src="@{/img/list01.jpg}" alt="" />
                                </div>
                                <div class="btn_wrap"><a th:href="@{/item/17}" class="btn_default">VIEW MORE</a></div>
                            </li>
                            <li class="list_tit"><a th:href="@{/item/17}">Earlgrey Pound Cake</a></li>
                            <li class="list_desc">얼그레이 파운드 케이크</li>
                            <li class="list_desc_small">LEMON</li>
                            <li class="list_price"><strong>6,900</strong>원</li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <li class="list_img_wrap">
                                <div class="list_img"><img th:src="@{/img/list02.jpg}" alt="" /></div>
                                <div class="btn_wrap"><a th:href="@{/item/11}" class="btn_default">VIEW MORE</a></div>
                            </li>
                            <li class="list_tit"><a th:href="@{/item/11}">Redbean Cake</a></li>
                            <li class="list_desc">단팥 생크림케이크</li>
                            <li class="list_desc_small">YELLOW</li>
                            <li class="list_price"><strong>5,900</strong>원</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="list_img_wrap">
                                <div class="list_img"><img th:src="@{/img/list03.jpg}" alt="" /></div>
                                <div class="btn_wrap"><a th:href="@{/item/65}" class="btn_default">VIEW MORE</a></div>
                            </li>
                            <li class="list_tit"><a th:href="@{/item/65}">청귤무스케이크</a></li>
                            <li class="list_desc">귤양갱과 청귤무스케이크</li>
                            <li class="list_desc_small">ORANGE</li>
                            <li class="list_price"><strong>8,900</strong>원</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="list_img_wrap">
                                <div class="list_img"><img th:src="@{/img/list04.jpg}" alt="" /></div>
                                <div class="btn_wrap"><a th:href="@{/item/23}" class="btn_default">VIEW MORE</a></div>
                            </li>
                            <li class="list_tit"><a th:href="@{/item/23}">Cheese Scone</a></li>
                            <li class="list_desc">뽀또 황치즈스콘(추천)</li>
                            <li class="list_desc_small">BEIGE</li>
                            <li class="list_price"><strong>3,900</strong>원</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

        <section class="sec4">
            <div class="sec_wrap">
                <div class="sec_tit">
                    <span>MD가 선정한 추천 아이템을 만나보세요.</span>
                    <h2>MD PICK</h2>
                </div>
                <div class="sec4_contents">
                    <p class="sec4_img" th:style="'background-image:url(' + @{/img/img02.jpg} + ');'"></p>
                    <div class="sec4_txt_wrap1">
                        <ul class="sec4_txt_wrap2">
                            <li class="list_desc">필라델피아 크림치즈로 만든</li>
                            <li class="list_tit"><a href="#">Basque Cheese Cake</a></li>
                            <li class="list_desc_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            <li class="list_btn"><button class="btn_default">VIEW MORE</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>


        <section class="sec2">
            <div class="sec_tit">
                <span>새로 나온 상품을 소개합니다.</span>
                <h2>NEW ITEMS</h2>
            </div>
            <div class="sec_wrap">
                <ul class="sec2_items_list">
                    <li>
                        <div class="list_img_wrap">

                            <p class="list_img">
                                <img th:src="@{/img/list15.jpg}" alt="" width="100%" />
                            </p>
                        </div>
                        <ul>
                            <li class="list_desc">New Arrival</li>
                            <li class="list_tit"><a href="#">Coffee</a></li>
                            <li class="list_desc_small">jeju</li>
                            <li class="list_btn"><button class="btn_default2">VIEW MORE</button></li>
                        </ul>
                    </li>
                    <li>
                        <div class="list_img_wrap">

                            <p class="list_img">
                                <img th:src="@{/img/list06.jpg}" alt="" width="100%" />
                            </p>
                        </div>
                        <ul>
                            <li class="list_desc">New Arrival</li>
                            <li class="list_tit"><a href="#">Souffle</a></li>
                            <li class="list_desc_small">seoul</li>
                            <li class="list_btn"><button class="btn_default2">VIEW MORE</button></li>
                        </ul>
                    </li>
                    <li>
                        <div class="list_img_wrap">

                            <p class="list_img">
                                <img th:src="@{/img/list07.jpg}" alt="" width="100%" />
                            </p>
                        </div>
                        <ul>
                            <li class="list_desc">New Arrival</li>
                            <li class="list_tit"><a href="#">Brunch</a></li>
                            <li class="list_desc_small">incheon</li>
                            <li class="list_btn"><button class="btn_default2">VIEW MORE</button></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </section>

        <section class="sec3">
            <div class="sec_tit">
                <h2>GALLERY</h2>
                <span>더욱 다양한 상품을 구경하세요.</span>
                <div class="list_btn"><a th:href="@{/item/itemslist}" class="btn_default" style="line-height: 45px">VIEW MORE</a></div>
            </div>
        </section>

    </main>
</div>